@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


<div class="middle-box text-center animated fadeInDown">
    <h3 class="font-bold">Page Not Found</h3>

    <div class="alert alert-danger text-center">
        <span>The page you are looking for could not be found.</span>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <br />
            @Html.Raw(ViewBag.Message)
        }

        <br /><a href="/" class="">Return Home</a>
    </div>
</div>
