<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header">
			<a class="navbar-brand" href="/" style="margin: 5px 0; padding: 5px 0;">
				<div class="navbar-brand-title">SWC Technology Partners</div>
			</a>
           
        </div>

        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary navbar-right" href="#">
            <i class="fa fa-bars"></i> 
        </a>

        <!-- Top Menu  -->
        @Catalyst.Partial("_TopMenu")
    </nav>
</div>