<!--=============================================================================
  == Log4Net Configuration File
  =================================================================================-->
<log4net>

  <!--=============================================================================
  == Console Appender Config
  =================================================================================-->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="[Header]\r\n" />
      <param name="Footer" value="[Footer]\r\n" />
      <param name="ConversionPattern" value="%date{ISO8601} %-5level %logger - %message%newline" />
    </layout>
    <threshold value="INFO"/>
  </appender>
  
  <!--=============================================================================
  == Database Appender Config
  =================================================================================-->
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="WARN"/>
    </evaluator>

    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="Log4NetConnection" />

    <commandText value="INSERT INTO AppEventLog (
                           [MachineName], 
                           [ApplicationCode],
                           [UserName],
                           [SessionId],
                           [TransactionId],
                           [EventDate],
                           [LogLevel],
                           [Message],
                           [StackTrace],
                           [EventCode],
                           [SourceClass],
                           [SourceMethod],
                           [SourceObject],
                           [SourceId])
                         VALUES (
                           @machineName,
                           @applicationCode,
                           @username,
                           @sessionId,
                           @transactionId,
                           @eventDateTime,
                           @logLevel,
                           @message,
                           @stackTrace,
                           @eventCode,
                           @sourceClass,
                           @sourceMethod,
                           @sourceObject,
                           @sourceId
                         )"/>
    <parameter>
      <parameterName value="@machineName" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{machineName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@applicationCode" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{applicationCode}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@userName" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{userName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@sessionId" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{sessionId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@transactionId" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{transactionId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@eventDateTime" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@logLevel" />
      <dbType value="String" />
      <size value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@stackTrace" />
      <dbType value="String" />
      <size value="-1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%stacktracedetail" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@eventCode" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{eventCode}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@sourceClass" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{sourceClass}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@sourceMethod" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{sourceMethod}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@sourceObject" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{sourceObject}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@sourceId" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{sourceId}" />
      </layout>
    </parameter>
  </appender>

  <!--=============================================================================
  == Email/SMTP Appender Config
  =================================================================================-->
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <!--Separate multiple emails with commas. For example: "tea@swc.com,rap@swc.com"-->
    <to value="Server=sg-lt-169\SENECA;Database=CStore;Persist Security Info=True;" />
    <from value="catalyst@swc.com" />
    <subject value="CStore.Web Dev Log Message" />
    <smtpHost value="smtp.sendgrid.net" />
    <!--NTLM authentication example. Doesnt require username and password below then.
    <authentication value="NTLM" />
    -->
    <!--Send Grid example-->
    <authentication value="Basic" />
    <username value="azure_de490b7ed572b98330e7c0fcc50fb4fe@azure.com" />
    <password value="nKM4Ej0dn8XRKOJ" />
    <port value="587" />

    <bufferSize value="1" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="WARN"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="
Machine: %property{machineName} %newline
Application: %property{applicationCode} %newline
Date: %date{ISO8601} %newline
Thread: [%thread] %newline
User: %property{userName} %newline
SessionId: %property{sessionId} %newline
TransactionId: %property{transactionId} %newline
Level: %-5level %newline
Logger: %logger %newline
Message: %message %newline%newline
Stack Trace: %stacktracedetail %newline
%newline%newline%newline" />
    </layout>
  </appender>

  <!--=============================================================================
  == Rolling File Appender Config
  =================================================================================-->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="TRACE"/>
    </evaluator>
    <param name="File" value="c:\logs\CStore.Web.Debug.log"/>
    <appendToFile value="true" />
    <!--Can specify Size or Date to roll files based on date or size-->
    <rollingStyle value="Date" />
    <datePattern value="'.'yyyyMMdd"/>
    <!--
    <immediateFlush value="true"/>
    -->
    <maxSizeRollBackups value="10" />
    <!--Can control max file size when rolling files by their size
    <maximumFileSize value="25MB" />
    -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ISO8601} [%thread] [User:%property{userName}] [SessId:%property{sessionId}] [TrxId:%property{transactionId}] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <!--=============================================================================
  == Root logger Config
  =================================================================================-->
  <root>
    <level value="DEBUG" />

    <!--
    <appender-ref ref="ConsoleAppender" />
    -->
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="SmtpAppender" />
    <appender-ref ref="AdoNetAppender" />
  </root>
</log4net>