<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender" xdt:Locator="Match(name)">
    <subject value="CStore.Web QA Log Message" xdt:Transform="SetAttributes" />
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
    <param name="File" value="c:\logs\CStore.Web.QA.log" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </appender>

  <root>
    <level value="INFO" xdt:Transform="SetAttributes"/>
  </root>

</log4net>