@model CStore.Domain.Domains.Authentication.Models.ViewModels.ForgotPassword.ForgotPasswordViewModel

@{
    ViewBag.Title = "Password Reset Requested";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";  
}

<div class="middle-box text-center animated fadeInDown">

    <h2>Password Reset Requested</h2>

    <div class="alert alert-success text-center">
        A link to reset your password has been emailed to you. Please follow the instructions in the email
        to reset your password and login to the system.
    </div>

    <p class="text-center">    
        @Catalyst.ActionLink("Click here to return to the home page.", MVC.Home.Index(), secured: false)
    </p>

</div>
@section Scripts
{
}
