@model CStore.Domain.Domains.Authentication.Models.ViewModels.ForgotPassword.ResetForgottenPasswordViewModel

@{
    ViewBag.Title = "Password Successfully Changed";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";  
}

<div class="middle-box text-center animated fadeInDown">

    <h2>Password Successfully Changed</h2>

    <div class="alert alert-success text-center">
        Your password has been successfully changed. You may now use your new password to login to the system.
    </div>

    <p class="text-center">    
        @Catalyst.ActionLink("Click here to return to the home page.", MVC.Home.Index(), secured: false)
    </p>

</div>
@section Scripts
{
}
